@import url("theme.css");
 
.wy-nav-content {
    max-width: none;
}

h1,h2 {
    border-bottom: 1px solid #ccc;
}

h3,h4,h5,h6 {
    text-decoration:underline;
    text-decoration-color:#555555;
}

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

colgroup {
    display: none;
}

.wy-side-nav-search, .wy-nav-top {
    background: #227777;
}
